<shell><span class="md-title"><h2>Flooding in Housten, Texas</h2></span></shell>
<md-content>

    <div layout="row" layout="space-between center">
        <div layout="column" flex="25">
            <md-card style="height: 50vh">
                <md-card-header>
                    <md-card-avatar>
                        <i class="fa fa-twitter"></i>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">Twitter Sentiment Analysis</span>
                        <span class="md-subhead">emotional level of people in this area</span>
                    </md-card-header-text>
                </md-card-header>
                <twitter-sentiment height="300" width="300" data="twitterSentimentData"></twitter-sentiment>
                <md-card-content style="position: relative; top: -150px;">
                    <p>
                        The
                    </p>
                </md-card-content>
            </md-card>
            <md-card style="height: 50vh">
                <md-card-header>
                    <md-card-avatar>
                        <i class="fa fa-google"></i>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">Google Search Trend</span>
                        <span class="md-subhead">reactions blah blah</span>
                    </md-card-header-text>
                </md-card-header>
                <wordcloud words="words"></wordcloud>
                <md-card-content style="position: relative; top: -150px;">
                    <p>
                        The
                    </p>
                </md-card-content>
            </md-card>
        </div>
        <div flex="50">
            <leaflet id="timelinemap" lf-center="center" layers="layers" height="50vh" width="100%"></leaflet>
        </div>
        <div flex="25" layout="column">
            <!--column 2 33% -->
            <md-content style="height: 100vh;">
                <twitter-feed ng-show="c!==1" tweetids="['722389353218064384', '722764382938107904']"></twitter-feed>
            </md-content>
            <!--<twitter-feed style="height: 60vh" ng-show="c==1" tweetids="['722764382938107904']"></twitter-feed>-->

        </div>
    </div>

    <md-button ng-click="play()">play</md-button>
    <md-button ng-click="stop()">stop</md-button>

    <twitter-widget twitter-widget-id="tweetId"></twitter-widget>
    <md-slider flex min="0" max="255" ng-model="ts" aria-label="timestamp" id="ts-slider" class="md-primary"></md-slider>

</md-content>