<shell><span class="md-title"><h2>Flooding in Housten, Texas</h2></span></shell>
<md-content>

    <div layout="row" layout="space-between center">
        <div layout="column" flex="25">
            <md-card style="height: 30vh">
                <md-card-header>
                    <md-card-avatar>
                        <i class="fa fa-twitter"></i>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">Twitter Sentiment Analysis</span>
                        <span class="md-subhead">emotional level of people in this area</span>
                    </md-card-header-text>
                </md-card-header>
                <twitter-sentiment height="300" width="300" data="twitterSentimentData"></twitter-sentiment>
                <!--<md-card-content style="position: relative; top: -150px;">
                    <md-subheader ng-click="showMore=!schowMore">Details 
                        <i ng-show="!showMore" class="fa fa-chevron-down"></i>
                        <i ng-show="showMore" class="fa fa-chevron-up"></i>
                    </md-subheader>
                </md-card-content> -->
            </md-card>
            <md-card>
                <md-card-header>
                    <md-card-avatar>
                        <i class="fa fa-google"></i>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">Google Search Trend</span>
                        <span class="md-subhead">popular search terms in this period</span>
                    </md-card-header-text>
                </md-card-header>
                <wordcloud words="words"></wordcloud>
                <md-card-content style="position: relative; top: -10px;">
                    <md-subheader class="md-no-sticky" ng-click="showMore=!schowMore">Details
                        <i ng-show="!showMore" class="fa fa-chevron-down"></i>
                        <i ng-show="showMore" class="fa fa-chevron-up"></i>
                    </md-subheader>
                    <div ng-show="showMore">
                        <p>FLOOD:</p>
                        <p>FEMA:</p>
                        <p>BRAYS BAYOU:</p>
                        <p>JUNGLE BOOK: Movie released at </p>
                    </div>
                </md-card-content>
            </md-card>
        </div>
        <div flex="50" layout="column">
            <leaflet id="timelinemap" lf-center="center" layers="layers" height="50vh" width="100%"></leaflet>
            <md-card>
                <md-card-header>
                    <md-card-avatar>
                        <i class="fa fa-globe"></i>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">Control Panel</span>
                        <span class="md-subhead">travel in time</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content>
                    <div layout="row" layout-align="center center">
                        <md-button class="md-fab" ng-click="play()" layout="row" layout-align="center center">
                            <i ng-show="!isPlaying" class="fa fa-2x fa-play"></i>
                            <i ng-show="isPlaying" class="fa fa-2x fa-pause"></i>
                        </md-button>
                        <label ng-show="!isPlaying">replay the scenario</label>
                        <label ng-show="isPlaying">pause the scenario</label>
                    </div>
                    <md-slider flex min="0" max="7000" ng-model="sliderValue" aria-label="timestamp" id="ts-slider" class="md-primary"></md-slider>
                    <div layout="row" layout-align="space-between center">
                        <md-datepicker ng-model="startDate"></md-datepicker>
                        <md-datepicker ng-model="endDate"></md-datepicker>
                    </div>
                </md-card-content>
                Control Panel</md-card>
        </div>
        <div flex="25" layout="column">
            <md-card style="height: 100vh;">
                <md-card-header>
                    <md-card-avatar>
                        <i class="fa fa-twitter"></i>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">Tweets</span>
                        <span class="md-subhead">impressions</span>
                    </md-card-header-text>
                </md-card-header>
                <md-content id="twitter-feed-content">
                    <twitter-feed tweetids="['722389353218064384', '722764382938107904', '722452002941181952', '722076246872428548', '723570517215596544', '603242127284310016', '603489855033778176']">
                    </twitter-feed>
                </md-content>
            </md-card>
            <!--<twitter-feed style="height: 60vh" ng-show="c==1" tweetids="['722764382938107904']"></twitter-feed>-->

        </div>
    </div>

</md-content>