<div ng-controller="ShellCtrl" class="main-shell">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar class="md-tall md-accent column">
        <div class="md-toolbar-tools">
            <div class="userImg" style=" width: 100px; height: 100px; overflow: hidden; padding: 10px; background-image: url('assets/images/sample.png'); background-size: cover; border-radius: 50px; background-position-x: 40%; float: right; margin-top: 60px; margin-right: 20px;"></div>
            <span flex> {{userInfo.who}} </span> 
        </div>
    </md-toolbar>
    <md-content layout-padding>
        <md-list layout-padding="">
            <md-list-item class="md-3-line" ng-repeat="message in messages">
                <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
                <div class="md-list-item-text">
                  <h3>{{message.what}}</h3>
                  <h4>{{message.who}}</h4>
                </div>
            </md-list-item>
          </md-list>
    </md-content>
  </md-sidenav>

  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Settings">
<!--        <md-icon md-svg-icon="assets/icons/menu.svg"></md-icon>-->
            <i class="fa fa-globe fa-2x"></i>
      </md-button>
      <h2>
          <span><a href="/">Earth Care</a></span>
        </h2>
      <span flex=""></span>
        <ng-transclude></ng-transclude>
      <md-menu>
        <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
          <i class="fa fa-chevron-down"></i>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="showAddDialog($event)">
              <md-icon md-svg-icon="content:add" md-menu-align-target></md-icon>
              Add
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="toggleNotifications()">
              <md-icon md-svg-icon="social:notifications{{notificationsEnabled ? '_off' : ''}}"></md-icon>
              {{notificationsEnabled ? 'Disable' : 'Enable' }} notifications
            </md-button>
          </md-menu-item>

        </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>
</div>
