#latestEvent md-card md-card-title md-card-title-text{
  height: 6vh;
}
#latestEvent md-card{
  min-width: 16vw;
}
#latestEvent .md-headline {
  font-size: 18px;
  font-weight: bold;
}

.profile-avatar {
    border-radius: 50%;
    margin-top: 15px;
    height: 40px;
    width: 40px;
}

.leaflet-marker-icon {
    border-radius: 50%;
}