<div ng-include="'components/shell/shell.html'"></div>

<div layout="column" class="md-padding eventstory">

  <div>

      <md-card>
        <md-card-title>
          <md-card-title-text>
           <span class="md-headline"><h1>{{event.title}}</h1></span>
              <span class="md-subhead">{{event.description}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media">
              <img ng-src="{{imagePath}}" alt="sorry we have no image for that"></div>
          </md-card-title-media>
        </md-card-title>
      </md-card>

  </div>

    <!-- sentiment twitter -->
    <div>
    <md-card>
        <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
          <h2 class="md-flex">How people feel</h2>
        </div>
      </md-toolbar>
        Twitter sentiment analysis

        {{sentiment}}
        {{sentimentData}}


        </md-card>
    </div>    
    
    
    
    
  <div class="eventWords">
    <md-content class="eventWordsCloud md-padding">
      <md-card>
       <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
          <h2 class="md-flex">How people react</h2>
        </div>
      </md-toolbar>
          Google Trends
        <md-card-content my-directive>
          <div id="d3WordCloud">

          </div>
        </md-card-content>
      </md-card>
    </md-content>
  </div>
    
    
    <!--WEATHER-->
    
  <div flex="40" class="eventChart">
    <div class="column md-padding">
      <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
          <h2 class="md-flex">History Trend Data</h2>
        </div>
      </md-toolbar>
      <md-content>
        <nvd3 options="options" data="data"></nvd3>
      </md-content>
    </div>
  </div>
    
    
    <div flex="40" class="eventChart">
    <div class="column md-padding">
      <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
          <h2 class="md-flex">Contribute</h2>
        </div>
      </md-toolbar>
      <md-content>
          <p>Add some content, so that other people can explore the social impact of this event</p>
        <md-input-container>
        <label>Paste url here</label>
        <input ng-model="share" type="">
      </md-input-container>
          <md-button ng-click="share=''">submit</md-button>
      </md-content>
    </div>
  </div>
    

</div>



<!--


  <div flex="60" class="eventInfo">
    <md-content class="md-padding" layout-xs="column" layout="row">
      <div flex-xs="" flex-gt-xs="50" layout="column">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Event Description</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-actions layout="row" layout-align="start center">
            <md-icon md-font-set="material-icons">location_searching</md-icon>
            <md-button flex="40">51.3987223</md-button>
            <md-button flex="40">43.3874982</md-button>
          </md-card-actions>
          <md-card-content>
            <p>
              The titles of Washed Out's breakthrough song and the first single from Paracosm share the
              two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
            </p>
          </md-card-content>
        </md-card>
        <md-card>
          <img ng-src="{{sceneImgPath}}" class="md-card-image" alt="Washed Out">
          <md-card-actions layout="row" layout-align="start center">
          <md-card-content>
            <p>The titles of Washed Out's breakthrough song and the first single from Paracosm share the  </p>
          </md-card-content>
        </md-card>
      </div>
      <div flex-xs="" flex-gt-xs="50" layout="column">
        <md-card>
          <img ng-src="{{satImgPath}}" class="md-card-image" alt="Washed Out">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">In-card actions</span>
              <span class="md-subhead">Description</span>
            </md-card-title-text>
          </md-card-title>

          <md-card-content>
            <p>
              The titles of Washed Out's breakthrough song and the first single from Paracosm share the
              two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
            </p>
          </md-card-content>
        </md-card>
        <md-card>
          <md-card-content>
            <p>
              The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            </p>
          </md-card-content>
        </md-card>
      </div>
    </md-content>



  -->
