<div ng-include="'components/shell/shell.html'"></div>

<div layout="column" class="md-padding eventstory">

  <div>

<!--
      <md-card>
        <md-card-title>
          <md-card-title-text>
           <span class="md-headline"><h2>{{event.title}}</h2></span>
              <span class="md-subhead" ng-show="event.description">{{event.description}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media">
              <img ng-src="{{imagePath}}" alt="sorry we have no image for that"></div>
          </md-card-title-media>
        </md-card-title>
      </md-card>
-->
      <span class="md-title"><h2>{{event.title}}</h2></span>
  </div>
    
     <div class="map">
        <md-card>
          <md-toolbar>
              <div class="md-toolbar-tools md-warn">
                <h3 class="md-flex">Real-time rain fall heatmap</h3>
              </div>
        </md-toolbar>
        <md-content>
          <leaflet id="rainfallmap" lf-center="center" tiles="tiles" markers="markers" height="60vh" width="100%"></leaflet>  
        </md-content>
      </md-card>
    </div><!--Map with icons-->

   <div>
      <md-card>
          <md-toolbar>
              <div class="md-toolbar-tools md-warn">
                <h2 class="md-flex">How People Feel</h2>
              </div>
        </md-toolbar>
        <md-content>
            Twitter Sentiment Analysis
          <div class="twitterChart">
            <nvd3 options="twiiterOptions" data="twiiterData"></nvd3>
          </div>
        </md-content>
      </md-card>
  </div>

  <div class="eventWords">
    <md-content class="eventWordsCloud md-padding">
      <md-card>
       <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
          <h2 class="md-flex">How People React</h2>
        </div>
      </md-toolbar>
          Google Trends
        <md-card-content my-directive>
          <div id="d3WordCloud">

          </div>
        </md-card-content>
      </md-card>
    </md-content>
  </div>
    
    
    <!--WEATHER-->
    
  <div flex="40" class="eventChart">
    <div class="column md-padding">
      <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
          <h2 class="md-flex">History Trend Data</h2>
        </div>
      </md-toolbar>
      <md-content>
        <nvd3 options="options" data="data"></nvd3>
      </md-content>
    </div>
  </div> 
    
    <div class="column md-padding">
      <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
          <h2 class="md-flex">Contribute</h2>
        </div>
      </md-toolbar>
      <md-content>
          <p>Add some content, so that other people can explore the social impact of this event</p>
        <md-input-container>
        <label>Paste url here</label>
        <input ng-model="share" type="">
      </md-input-container>
          <md-button ng-click="share=''">submit</md-button>
      </md-content>
    </div>
    
</div>

